p{
	color:red;
}

.card{
	display: inline-block;
	margin-top: 25px;
	margin-left: 25px;

}

img{
	width: 279px;
	height: 230px;
}


.nav-link:hover{
	color: red;
	border:1px solid;
	border-radius: 5px;
}